autopep8==1.6.0
boto3==1.24.2
flake8==4.0.1
ipdb==0.13.9
jupyter==1.0.0
lightgbm==3.3.2
matplotlib==3.5.2
mlflow==1.26.1
numpy==1.22.3
pandas==1.4.2
pylint==2.13.9
scipy==1.8.0
seaborn==0.9.0
tqdm==4.64.0
scikit-learn==1.0.2
